/* stylelint-disable selector-id-pattern */
/* stylelint-disable custom-property-pattern */

@import './fonts';
@import './tailwind';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

html,
body,
#__next {
  min-height: calc(var(--innerVh, 1vh) * 100);
  font-family: Poppins, sans-serif;
}


svg * {
  transform-box: fill-box;
}

.ant-table-cell {
  padding: 0 0 0 4px !important;
}

.ant-table-selection-column {
  padding: 0 !important;
  width: 0 !important;
  min-width: 0 !important;
}
